params {
    config_profile_name        = "Test single-cell profile with BAM splitpipe input"
    config_profile_description = "Minimal test dataset to check single-cell workflow with BAM input from parse bio splitpipe pipeline"
    indir                      = "$baseDir/test/dat/test_sc_bam_splitpipe"
    input_type                 = "bam"
    pipeline                   = "splitpipe"
    upconstant                 = "TGACCATGTACGATTGACTA"
    downconstant               = "TGCTAATGCGTACTGACTAG"
    ref                        = "$baseDir/test/ref/test.ref.fasta"
    mode                       = "single-cell"
    constants                  = "all"
    barcode_length             = 60
    outdir                     = "$baseDir/test/test_out/sc_bam_splitpipe"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}
