params {
    config_profile_name        = "Test single-cell reference-free profile with BAM input"
    config_profile_description = "Minimal test dataset to check single-cell reference-free workflow with BAM input, include unmapped reads and reads mapping to contig"
    indir                      = "$baseDir/test/dat/test_sc_bam_contig"
    input_type                 = "bam"
    mode                       = "single-cell"
    constants                  = "both"
    bam_contigs                = "pBA439_UMI_20"
    upconstant                 = "TTAATTAAGAATTCA"
    downconstant               = "CTAGGGCCTAGAGGG"
    barcode_length             = 28
    outdir                     = "$baseDir/test/test_out/sc_bam_contig"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}
